CatalogueServiceClient/Service References/PeopleCatalogueServiceReference/PeopleCatalogueService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PeopleCatalogueService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56411/PeopleCatalogueService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56411/PeopleCatalogueService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56411/PeopleCatalogueService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CatalogueService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPeopleCatalogueService_GetAddressBook_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressBook" />
  </wsdl:message>
  <wsdl:message name="IPeopleCatalogueService_GetAddressBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressBookResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleCatalogueService_SearchPersonByPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPersonByPhone" />
  </wsdl:message>
  <wsdl:message name="IPeopleCatalogueService_SearchPersonByPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPersonByPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleCatalogueService_SearchPersonByName_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPersonByName" />
  </wsdl:message>
  <wsdl:message name="IPeopleCatalogueService_SearchPersonByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPersonByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleCatalogueService_AddPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPerson" />
  </wsdl:message>
  <wsdl:message name="IPeopleCatalogueService_AddPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleCatalogueService_UpdatePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePerson" />
  </wsdl:message>
  <wsdl:message name="IPeopleCatalogueService_UpdatePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleCatalogueService_UpdatePerson_PersonNotFoundFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/CatalogueService" name="detail" element="q1:PersonNotFound" />
  </wsdl:message>
  <wsdl:message name="IPeopleCatalogueService_DeletePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePerson" />
  </wsdl:message>
  <wsdl:message name="IPeopleCatalogueService_DeletePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleCatalogueService_DeletePerson_PersonNotFoundFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/CatalogueService" name="detail" element="q2:PersonNotFound" />
  </wsdl:message>
  <wsdl:portType name="IPeopleCatalogueService">
    <wsdl:operation name="GetAddressBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleCatalogueService/GetAddressBook" message="tns:IPeopleCatalogueService_GetAddressBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleCatalogueService/GetAddressBookResponse" message="tns:IPeopleCatalogueService_GetAddressBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchPersonByPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleCatalogueService/SearchPersonByPhone" message="tns:IPeopleCatalogueService_SearchPersonByPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleCatalogueService/SearchPersonByPhoneResponse" message="tns:IPeopleCatalogueService_SearchPersonByPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchPersonByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleCatalogueService/SearchPersonByName" message="tns:IPeopleCatalogueService_SearchPersonByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleCatalogueService/SearchPersonByNameResponse" message="tns:IPeopleCatalogueService_SearchPersonByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleCatalogueService/AddPerson" message="tns:IPeopleCatalogueService_AddPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleCatalogueService/AddPersonResponse" message="tns:IPeopleCatalogueService_AddPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleCatalogueService/UpdatePerson" message="tns:IPeopleCatalogueService_UpdatePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleCatalogueService/UpdatePersonResponse" message="tns:IPeopleCatalogueService_UpdatePerson_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPeopleCatalogueService/UpdatePersonPersonNotFoundFault" name="PersonNotFoundFault" message="tns:IPeopleCatalogueService_UpdatePerson_PersonNotFoundFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleCatalogueService/DeletePerson" message="tns:IPeopleCatalogueService_DeletePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleCatalogueService/DeletePersonResponse" message="tns:IPeopleCatalogueService_DeletePerson_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPeopleCatalogueService/DeletePersonPersonNotFoundFault" name="PersonNotFoundFault" message="tns:IPeopleCatalogueService_DeletePerson_PersonNotFoundFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPeopleCatalogueService" type="tns:IPeopleCatalogueService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAddressBook">
      <soap:operation soapAction="http://tempuri.org/IPeopleCatalogueService/GetAddressBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPersonByPhone">
      <soap:operation soapAction="http://tempuri.org/IPeopleCatalogueService/SearchPersonByPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPersonByName">
      <soap:operation soapAction="http://tempuri.org/IPeopleCatalogueService/SearchPersonByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <soap:operation soapAction="http://tempuri.org/IPeopleCatalogueService/AddPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <soap:operation soapAction="http://tempuri.org/IPeopleCatalogueService/UpdatePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PersonNotFoundFault">
        <soap:fault use="literal" name="PersonNotFoundFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap:operation soapAction="http://tempuri.org/IPeopleCatalogueService/DeletePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PersonNotFoundFault">
        <soap:fault use="literal" name="PersonNotFoundFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PeopleCatalogueService">
    <wsdl:port name="BasicHttpBinding_IPeopleCatalogueService" binding="tns:BasicHttpBinding_IPeopleCatalogueService">
      <soap:address location="http://localhost:56411/PeopleCatalogueService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>